@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.3em);
  }
}
@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-0.3em);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsla(180, 100%, 25%, 0.7);
}

.middle-page {
  grid-column: 4 / 9;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.main-container.second-page,
.main-container.third-page,
.main-container.forth-page {
  display: none;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.sliding-bar {
  height: 800px;
  position: relative;
  background-color: hsla(0, 0%, 25%, 0.2);
}

.sliding-bar.left {
  grid-column: 1 / 2
}

.sliding-bar.right {
  grid-column: 12 / 13;
}

.sliding-bar:hover {
  background-color: hsla(0, 0%, 25%, 0.4);
  cursor: pointer;
}

.fa {
  position: absolute;
  top: 50%;
  color: white;
}

.fa.left {
  right: 40%;
}

.fa.right {
  left: 40%;
}

.sliding-bar.left:hover i {
  animation: move-left;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sliding-bar.right:hover i {
  animation: move-right;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
