@import url('https://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,600');

/* Animation Keyframes */
@keyframes page-elements-fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(6em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes page-elements-fade-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(6em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.3em);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-0.3em);
  }
}

@keyframes scale {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes type-writer-line1 {
  0% {
    width: 0;
  }
  100% {
    width: 5.9em;
  }
}

@keyframes blink-text-cursor-line1 {
  0% {
    border-right-color: hsla(0, 0%, 75%, 1);
  }
  100% {
    border-right-color: transparent;
  }
}

@keyframes type-writer-line2 {
  0% {
    width: 0;
  }
  100% {
    width: 17em;
  }
}

@keyframes middle-image-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes click-fade-in {
  0% {
    opacity: 1;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes button-fade-in {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes button-focus1 {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5);
  }
}

@keyframes social-media-effect {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes dark-blue {
  0% {
    color: black;
  }
  100% {
    color: darkblue;
  }
}

@keyframes dark-red {
  0% {
    color: black;
  }
  100% {
    color: darkred;
  }
}

@keyframes sky-blue {
  0% {
    color: black;
  }
  100% {
    color: skyblue;
  }
}

@keyframes green-green {
  0% {
    color: black;
  }
  100% {
    color: green;
  }
}


/* Body */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-top: 1px solid hsla(0, 0%, 93%, 1);;
  margin: 20px 0;
}


/* Home Page */
.home-container {
  position: relative;
  height: 100vh;
}

.home-container.home-page {
  background: linear-gradient(-45deg, hsla(180, 100%, 25%, 0.8), hsla(180, 100%, 25%, 0));
}

.home-intro-line1 {
  position: absolute;
  top: calc(0vh + 1em);
  left: 20%;
  color: hsla(180, 100%, 15%, 1);
  font-weight: 600;
  width: 5.9em;
  margin: 0 auto;
  border-right: 2px solid hsla(0, 0%, 50%, 1);
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter-line1 {
  animation: type-writer-line1 1.2s steps(20) 1s 1 normal both,
             blink-text-cursor-line1 0.1s 2.4s forwards;
}

.home-intro-line2 {
  position: absolute;
  top: calc(0vh + 6em);
  left: 20.5%;
  color: hsla(180, 100%, 15%, 0.7);
  font-weight: 400;
  width: 17em;
  margin: 0 auto;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter-line2 {
  animation: type-writer-line2 0.8s steps(20) 2.6s 1 normal both;
}

.home-middle-image {
  height: 300px;
  width: 300px;
  position: absolute;
  top: calc(0vh + 13.5em);
  left: 35%;
  transform: rotate(45deg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.home-middle-image div:nth-child(7) {
  background-color: hsla(0, 100%, 45%, 1);
  opacity: 0;
  animation: middle-image-fade-in forwards;
  animation-duration: 1s;
  animation-delay: 4s;
}

.home-middle-image div:nth-child(8) {
  opacity: 0;
  background-color: hsla(72, 100%, 45%, 1);
  animation: middle-image-fade-in forwards;
  animation-duration: 1s;
  animation-delay: 4.5s;
}

.home-middle-image div:nth-child(5) {
  opacity: 0;
  background-color: hsla(144, 100%, 45%, 1);
  animation: middle-image-fade-in forwards;
  animation-duration: 1s;
  animation-delay: 5s;
}

.home-middle-image div:nth-child(6) {
  opacity: 0;
  background-color: hsla(216, 100%, 45%, 1);
  animation: middle-image-fade-in forwards;
  animation-duration: 1s;
  animation-delay: 5.5s;
}

.home-middle-image div:nth-child(3) {
  opacity: 0;
  background-color: hsla(288, 100%, 45%, 1);
  animation: middle-image-fade-in forwards;
  animation-duration: 1s;
  animation-delay: 6s;
}

.home-click {
  position: absolute;
  bottom: calc(0vh + 3em);
  left: 40%;
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  color: hsla(180, 100%, 12%, 1);
  margin: 0 auto;
  opacity: 0;
}

.anim-click-fade-in {
  animation: click-fade-in forwards;
  animation-duration: 0.2s;
  animation-delay: 7.5s;
  animation-timing-function: linear;
}

.button-at-homepage {
  position: absolute;
  bottom: calc(0vh + 5em);
  left: 60%;
  background-color: transparent;
  opacity: 0;
}

.anim-button-fade-in {
  animation: button-fade-in forwards;
  animation-duration: 1s;
  animation-delay: 6.5s;
  animation-timing-function: ease-in-out;
}

.fa.home-go-next {
  color: hsla(180, 100%, 15%, 1);
  cursor: pointer;
}

.fa.home-go-next:hover {
  animation: button-focus1 forwards;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.home-container.home-page,
/* .main-container.first-page, */
.main-container.second-page,
.main-container.third-page
{
  display: none;
}


/* Main Pages */
.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.main-container.first-page {
  background-color: hsla(0, 0%, 95%, 1);
}

.main-container.second-page {
  background-color: hsla(0, 0%, 95%, 1);
}

.main-container.third-page {
  background-color: hsla(0, 0%, 95%, 1);
}

.sliding-bar {
  grid-row: 1 / 10;
  position: relative;
  background-color: hsla(180, 100%, 25%, 0.2);
}

.sliding-bar.left {
  grid-column: 1 / 2
}

.sliding-bar.right {
  grid-column: 16 / 17;
}

.sliding-bar:hover {
  background-color: hsla(180, 100%, 25%, 0.4);
  cursor: pointer;
}

.fa.right,
.fa.left {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 2rem;
}

.fa.left {
  right: 30%;
}

.fa.right {
  left: 30%;
}

.sliding-bar.left:hover i {
  animation: move-left;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sliding-bar.right:hover i {
  animation: move-right;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.footer-container {
  grid-column: 1 / 17;
  grid-row: 10 / 11;
  background-color: hsla(180, 100%, 25%, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-home-button {
  margin-left: 1em;
}

.fa.home-go-back {
  color: hsla(180, 100%, 90%, 1);
  cursor: pointer;
}

.fa.home-go-back:hover {
  color: hsla(180, 100%, 10%, 1);
}

.footer-nav {
  width: 20em;
  display: flex;
  justify-content: space-between;
}

.footer-nav a {
  color: hsla(180, 100%, 90%, 1);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: text;
  padding-bottom: 0.2em;
}

.footer-nav .current-nav {
  color: hsla(180, 100%, 10%, 1);
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright {
  color: hsla(180, 100%, 90%, 1);
  font-size: 0.9rem;
  margin-right: 1em;
}


/* About Page */
.content-container.first-page {
  grid-column: 1 / 16;
  grid-row: 1 / 10;
  overflow-y: scroll;
  display: flex;
}

.profile-icon {
  margin-right: 0.6em;
  color: hsla(174, 100%, 29%, 1);
}

.first-page-name-card {
  width: 25%;
  height: 35em;
  margin: 1em;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0 4px 10px 0 hsla(0, 0%, 0%, 0.2), 0 4px 20px 0 hsla(0, 0%, 0%, 0.19);
  opacity: 0;
  animation: page-elements-fade-in-from-right 0.5s linear 0.3s forwards;
}

.profile-pic-container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
}

.profile-pic-container figcaption {
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.2rem;
  font-weight: 600;
}

.profile-pic {
  width: 100%;
  opacity: 0.8;
}

.profile-stats-container {
  width: 100%;
  padding-left: 0.5em;
  font-size: 0.9rem;
  color: hsla(0, 0%, 20%, 1);
}

.first-page-about-description {
  width: 75%;
  font-size: 1rem;
  color: hsla(0, 0%, 20%, 1);
  display: flex;
  flex-wrap: wrap;
}

.description {
  width: 100%;
  height: auto;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0 4px 10px 0 hsla(0, 0%, 0%, 0.2), 0 4px 20px 0 hsla(0, 0%, 0%, 0.19);
  padding: 1em;
  margin: 1em;
  margin-left: 0;
  opacity: 0;
  animation: page-elements-fade-in-from-bottom 0.5s linear forwards;
}

.description.profile {
  animation-delay: 0.8s;
}

.description.technical {
  margin-top: 0;
  animation-delay: 1.3s;
}

.dev-icons-container {
  height: auto;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.dev-icons {
  width: 8em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dev-icons p {
  width: 100%;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 0.8rem;
  text-align: center;
}

.dev-icons i {
  font-size: 3rem;
  margin: 0;
}


/* Projects Page */
.content-container.second-page {
  grid-column: 2 / 16;
  grid-row: 1 / 10;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.second-page-title {
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: page-elements-fade-in-from-bottom 0.5s linear 0.1s forwards;
}

.second-page-title p {
  margin: 0;
  font-size: 2rem;
}

.second-page-app {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  opacity: 0;
  animation: page-elements-fade-in-from-bottom 0.5s linear forwards;
}

.second-page-app:nth-child(even) {
  background-color: hsla(0, 0%, 90%, 1);
}

.second-page-app:nth-child(2) {
  animation-delay: 1s;
}

.second-page-app:nth-child(3) {
  animation-delay: 1.5s;
}

.second-page-app:nth-child(4) {
  animation-delay: 2s;
}

.app-image-container {
  width: 25%;
  margin: 1em;
}

.app-image-container figcaption {
  text-align: center;
  margin-top: 0.5em;
  font-size: 0.9rem;
}

.app-image {
  width: 100%;
  max-width: 15em;
  height: auto;
  box-shadow: 0 4px 10px 0 hsla(0, 0%, 0%, 0.2), 0 4px 20px 0 hsla(0, 0%, 0%, 0.19);
}

.app-description {
  width: 75%;
  height: 100%;
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.app-description p {
  width: 100%;
  margin: 0;
  font-size: 1rem;
}


/* Contact Page */
.content-container.third-page {
  grid-column: 2 / 17;
  grid-row: 1 / 10;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.third-page-speech {
  width: 100%;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-page-speech p {
  font-family: 'Satisfy', cursive;
  font-size: 2.8rem;
  text-align: center;
  margin: 0;
}

.third-page-social-media {
  width: 100%;
  height: 25em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.third-page-social-media a {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0;
  text-decoration: none;
  animation: scale 2s forwards;
}

.third-page-social-media a:visited,
.third-page-social-media a:link,
.third-page-social-media a:active {
  color: black;
}

.third-page-social-media a:nth-child(1) {
  animation-delay: 0.3s;
}

.third-page-social-media a:nth-child(2) {
  animation-delay: 0.8s;
}

.third-page-social-media a:nth-child(3) {
  animation-delay: 1.3s;
}

.third-page-social-media a:nth-child(4) {
  animation-delay: 1.8s;
}

.fab.linkedin:hover {
  animation: social-media-effect 5s linear infinite,
             dark-blue 5s infinite alternate;
}

.fab.github:hover {
  animation: social-media-effect 5s linear infinite,
             dark-red 5s infinite alternate;
}

.fab.twitter:hover {
  animation: social-media-effect 5s linear infinite,
             sky-blue 5s infinite alternate;
}

.fab.medium:hover {
  animation: social-media-effect 5s linear infinite,
             green-green 5s infinite alternate;
}


/* Media Queries */
@media screen and (min-width: 68.75em) {
  .profile-pic-container figcaption {
    font-size: 1.5rem;
  }
  .profile-stats-container {
    font-size: 1rem;
  }
  .first-page-about-description {
    font-size: 1.1rem;
  }
  .dev-icons p {
    font-size: 0.9rem;
  }
  .second-page-title p {
    font-size: 2.5rem;
  }
  .app-image-container figcaption {
    font-size: 1rem;
  }
  .app-description p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 55.3em) {
  .first-page-column {
    font-size: 0.9rem;
  }
  .footer-nav a {
    font-size: 1rem;
  }
  .footer-copyright {
    font-size: 0.8rem;
  }
  .fa.right, .fa.left {
    font-size: 1.2rem;
  }
  .profile-pic-container figcaption {
    font-size: 1rem;
  }
  .profile-stats-container {
    font-size: 0.8rem;
  }
  .first-page-about-description {
    font-size: 0.9rem;
  }
  .dev-icons p {
    font-size: 0.7rem;
  }
  .second-page-title p {
    font-size: 1.8rem;
  }
  .app-image-container figcaption {
    font-size: 0.8rem;
  }
  .app-description p {
    font-size: 0.9rem;
  }
  .third-page-social-media {
    width: 60%;
    flex-wrap: wrap;
  }
  .third-page-social-media i {
    font-size: 9rem;
  }
}
